*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(238, 205, 205);
}
header{
    /* border: 3px solid grey; */
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}

.btn{
    background-color: rgb(96, 96, 231);
    border: none;
    color: wheat;
    padding: 15px 30px;
    border-radius: 15px;
}
.btn:hover{
    background-color: rgb(79, 64, 94);
    cursor: pointer;
    transition: 0.8s;
}
#Highlights-section{
    /* border: solid orange; */
    width: 70%;
    margin: 50px auto;
}
#Highlights-section >h2{
    font-size: 40px;
    font-weight: 800px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 5px 5px 5px rgb(226, 88, 88);
}
#Highlights-section >p{
    width: 50%;
    color: rgb(62, 65, 62);
    text-align: center;
    margin-bottom: 25px;
    margin: 0 auto;
}

#bye-now-button{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}
#cover-img-secton{
    /* border: 2px solid rgb(189, 189, 85); */
    width: 70%;
    margin: 50px auto;
    
}
#cover-img-secton img{
    width: 100%;
}
#search-section{
    /* border: 2px solid gray; */
    width: 50%;
    margin: 50px auto;
}
#search-section >h2{
    text-align: center;
    margin-bottom: 25px;
}
#searcch-continer{
    width: 50%;
    border: 2px solid rgb(44, 42, 37);
    margin: 0 auto;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(202, 247, 114);
    display: flex;
}
#search-bar{
    width: 70%;
    /* border: 2px solid rgb(171, 171, 221); */
}
#search-bar >input[type="text"]{
    padding: 15px;
    border: none;
    outline: none;
    width: 60%;
    background-color: rgb(202, 247, 114);
}
#search-button{
    /* border: 2px solid gray; */
    width: 30%;
    display: flex;
    justify-content: end;
}
#card-section{
     /* border: 2px solid rgb(189, 189, 85); */
     width: 80%;
     margin: 50px auto;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 20px;
}
.card{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 20px;
}
.card-image{
    background-color: white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin-bottom: 20px;
}
.card-image img{
    width: 100%;
    height: 400px;
}

.card-image:hover{
    background-color: rgb(209, 173, 173);
    transition: 0.8s;
}
.card-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.card-description{
    text-align: center;
    margin-bottom: 20px;
    color: rgb(34, 31, 31);
}
.card-price{
    text-align: center;
    font-weight: 600px;
    font-size: 30px;
    margin-bottom: 20px;
}

.card-button{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}