*{
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(238, 205, 205);
}
header{
    /* border: 3px solid grey; */
    width: 90%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;

}

.btn{
    background-color: rgb(96, 96, 231);
    border: none;
    color: wheat;
    padding: 10px 20px;
    border-radius: 15px;
}
.btn:hover{
    background-color: rgb(79, 64, 94);
    cursor: pointer;
    transition: 0.8s;
}
#Highlights-section{
    /* border: solid orange; */
    width: 70%;
    margin: 50px auto;
}
#Highlights-section >h2{
    font-size: 40px;
    font-weight: 800px;
    text-align: center;
    margin-bottom: 25px;
    text-shadow: 5px 5px 5px rgb(226, 88, 88);
}
#Highlights-section >p{
    width: 50%;
    color: rgb(62, 65, 62);
    text-align: center;
    margin-bottom: 25px;
    margin: 0 auto;
}

#bye-now-button{
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}
#cover-img-secton{
    /* border: 2px solid rgb(189, 189, 85); */
    width: 70%;
    margin: 50px auto;
    
}
#cover-img-secton img{
    width: 100%;
}